<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Movies</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Populaires</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let movie of movies">
          <ion-card class="ion-no-margin">
            <ion-img src="https://image.tmdb.org/t/p/w500/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg"></ion-img>
            <ion-card-content>
              <h3>Fight Club</h3>
              <ion-grid class="ion-no-padding ion-justify-content-center">
                <ion-row class="ion-no-padding">
                  <ion-col class="ion-no-padding">
                    <p>1990</p>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <p>
                      <ion-icon name="star"></ion-icon> <strong>8.5</strong>/10
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ion-content>
